<h1 class="d-flex justify-content-center">Tabla de posiciones:</h1>

<div class="container card d-flex py-1">
    <table class="table table-striped ">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">J</th>
                <th scope="col">G</th>
                <th scope="col">E</th>
                <th scope="col">P</th>
                <th scope="col">GF</th>
                <th scope="col">GC</th>
                <th scope="col">DF</th>
                <th scope="col">Pts</th>
                <th scope="col"> <small> Ultimos 5</small></th>
            </tr>
        </thead>
        <tbody class="">
            <tr>
                <th scope="row">
                    <a href="#" class="sin-enlace">
                        Barcelona
                    </a>
                </th>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td><img class="" src="images/check.svg" alt="" width="30px"></td>
            </tr>
            <tr>
                <th scope="row">
                    <a href="#" class="sin-enlace">
                        Real Madrid
                    </a>
                </th>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>
                    <img class="" src="images/check.svg" alt="" width="20px">
                    <img class="" src="images/check.svg" alt="" width="20px">
                    <img class="" src="images/check.svg" alt="" width="20px">
                    <img class="" src="images/check.svg" alt="" width="20px">
                    <img class="" src="images/check.svg" alt="" width="20px">
                </td>
            </tr>
        </tbody>
    </table>
</div>