
.nav-color{
    background-color: #00004b;
    color:black;
}   

.text-color{
    color:white;

}

a{
    color:white;
}

.nav-link:hover {
    color: #f8f9fa; 
    background-color: #ce2e2e; 
    transition: all 0.3s ease; 
  }